* {
    margin: 0;
    padding: 0;
    font-family: "Comic sans ms";
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #483434;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.judul {
    color: #fff3e4;
    margin: 5px;
}

.judul h1 {
    font-size: 25px;
    font-weight: bold;
}

.logo {
    margin: 10px;
}

.galeri {
    margin: 10px;
}

.galeri a {
    color: #483434;
    font-weight: bold;
    font-size: 15px;
    padding: 10px 20px;
    border: 2px solid #fff3e4;
    border-radius: 15px;
    background-color: #eed6c4;
    text-decoration: none;
}

.galeri a:hover {
    border: 2px solid #eed6c4;
    background-color: #6b4f4f;
    color: #eed6c4;
    transition: 0.5s;
}

@media (max-width: 600px) {
    .judul {
        display: none;
    }
}

