.all{
    display: flex;
    flex-direction: row;
    
}

.judul{
    background: blueviolet;
    padding: 10px;
    text-align: center;
}
.kiri{
    display: inline-block;
    width: 70%;
    border: solid red;
    
}
.kanan{
    width: 30%;
    border: solid greenyellow;
    display: inline-block;
}
img{
    width: 90px;
    height: 90px;
}
th, td {
    padding: 7px 17px;
    text-align: left;
    border-radius: 1px;
    border: solid magenta;
  }