.all{
    border: 2px solid red;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.kiri{
    border: 2px solid pink;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.listMenu{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.trx{
    border: 2px solid brown;
}
.cari{
    margin: 5px 20px 10px 30px;
}
